@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700'); 


body {
    background-color: #A36CD9;
    text-align: center;

}

.topBackground {
    background-color: #513073;
    width: auto;
    height: 450px;
    position: relative;
    padding: 15px;
    margin: -1%;
}

.topBackground2 {
    background-color: #513073;
    width: auto;
    height: auto;
    position: relative;
    padding: 30px;
    margin: -1%;

}

h1 
{
    text-align: center;
    font-size: 80px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
}

p {
    text-align: center;
    font-size: 60px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
}

#welcome, #idName, #thatThing
{
    display:inline;
}

#userName {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #73d9c6;
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    font: bold; 
}

button {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #73d9c6;
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px; 
}



.center {
    text-align: center;
}

.input
{
    position: relative;
    margin: 40px -50px;
    text-align: center;

}

h1 
{
    size: 80px;
    text-align: center;
}

p {
    text-align: center;
    size: 50px;
}



.container {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
  }
  
#getKnight, #getMage, #getRogue {
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    position: relative;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(27, 16, 38, .6);
    z-index: -1;
  }

.container:hover .overlay {
    opacity: 1;
  }


.text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 17%;
    left: 38%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.about {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 60%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}


.hide {
    display: none;
}

#knightText  {
    text-align: center;
    font-size: 80px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}
#knightText2 {
    text-align: center;
    font-size: 55px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#knightText3, #knightTextA1, #knightTextA2, #queenText, #queenText2 {
    text-align: center;
    font-size: 55px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#homeRollResult, #homeRollResult1, #homeRollResult2, #homeRollResult3, #homeRollResult4 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#homeRollResult5, #wolfRollResult, #wolfRollResult1, #wolfRollResult2, #wolfRollResult3, #barIngoreFightResult1 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#barIngoreFightResult1, #barIngoreFightResult2, #barIngoreFightResult3, #barIngoreFightResult4, #barIngoreFightResult5 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}
#barIngoreInterveneResult1, #barIngoreInterveneResult2, #barIngoreInterveneResult3, #barIngoreInterveneResult4 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#dragonRollResult1, #dragonRollResult2, #dragonRollResult3, #dragonRollResult4, #dragonRollResult5, #dragonRollResult6, #dragonRollResult7 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#answerRoll1, #answerRoll2, #answerRoll3, #answerRoll4, #answerRoll5, #outcomeWith1, #outcomeWith9 {
    text-align: center;
    font-size: 55px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}
#outcomeWith14, #outcomeWith19, #outcomeWith20, #noOutcome, #yesOutcome, #interveneText {
    text-align: center;
    font-size: 55px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#interveneText1, #interveneText2, #interveneText3, #interveneText4, #queenText3 {
    text-align: center;
    font-size: 55px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#dragonText1, #dragonText2, #dragonText3, #dragonText4, #dragonText5, #dragonText6, #dragonText7 {
    text-align: center;
    font-size: 55px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    padding: 40px;
}

#finaleResult1, #finaleResult2, #finaleResult5, #finaleResult6, #barLiveOrDie, #barLiveOrDie5 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color:	#dc143c;
    padding: 40px;
}

#interveneOutCome2, #interveneOutCome, #queenOutcome, #outComeDragon1, #outComeDragon2, #outComeDragon3, #outComeDragon4 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color:	#dc143c;
    padding: 40px;
}

#finaleResult3, #finaleResult4, #finaleResult8, #finaleResult7, #barLiveOrDie2, #barLiveOrDie3 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color:	#FFD700;
    padding: 40px;
}

#barLiveOrDie4, #interveneOutCome4, #interveneOutCome3, #outComeDragon5, #outComeDragon6, #outComeDragon7 {
    text-align: center;
    font-size: 90px;
    font-family: 'Amatic SC', sans-serif;
    color:	#FFD700;
    padding: 40px;
}