
html{
	background: #7B7F7C;
}
.memoryBoard{
	background: #3E403E;
	width: 1000px;
	height: 705px;
	padding: 20px;
	margin: 0 auto;
}

table {
	padding: 5px;
	margin: 0 auto;
	text-align: center;
}
.tableSet {
	padding: 5px;
	
}

